* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.app {
  background: #020617;
  padding: 30px;
  border-radius: 16px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.5);
}

h1 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  font-size: 0.9rem;
  opacity: 0.8;
  margin-bottom: 25px;
}

label {
  margin-top: 15px;
  display: block;
  font-weight: 600;
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}


#workout {
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  white-space: pre-line;
  min-height: 80px;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.75rem;
  opacity: 0.7;
}